@page "/accepted"
@inherits Base.AcceptedBase

<RadzenCard>
    <h4>Accepted</h4>
    <RadzenListBox @bind-Value=@Candidates Data=@Candidates TextProperty="Name" ValueProperty="Id" Style="height:500px" Class="w-100" />
</RadzenCard>
